canvas {
    border: 8px solid black;
  }
  
  body{
    background-color: aqua;
  }

  .controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  button {
    background: hsl(2, 93%, 56%);
    color: #2c1efa;
    border-radius: 2px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
  }