body {
    background-color: skyblue;
}

#contraseña {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 20px;
    color: red;
}

.números {
    font-size: 25px;
    padding: 15px;
    text-align: center;
}


#display {
    color: yellow;
    text-align: center;
    font-size: 30px;
}

button {
    padding: 15px;
    margin-top: 10px;
    color: red;
    background-color: black;
    border-radius: 5px;
}


.teclado {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    background-color: black;
}
.tecla {
    padding: 18px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
}